In [ ]:
#Tuple is Sequence data type
# Homogeneous and Heterogeneous element store
#It is immutable data type

In [1]:
t=(11,22,33,44,55,66,77,88,99)  #Homogeneous
print(t)
print(type(t))
print(id(t))
t=(11,22,"A","Pradeep",None)  #Heterogeneous
print(t)
print(type(t))
print(id(t))

(11, 22, 33, 44, 55, 66, 77, 88, 99)
<class 'tuple'>
2827610510768
(11, 22, 'A', 'Pradeep', None)
<class 'tuple'>
2827610525104

In [13]:
#Tuples Representation
T = (10,20,30)
print(T)
print(type(T))

(10, 20, 30)
<class 'tuple'>

In [11]:
T=10,20,30
print(T)
print(type(T))

(10, 20, 30)
<class 'tuple'>

In [14]:
T=()
print(T)
print(type(T))

()
<class 'tuple'>

In [15]:
T=11
print(T)
print(type(T))

11
<class 'int'>

In [16]:
#Accept one value in tuple
T=11,
print(T)
print(type(T))

(11,)
<class 'tuple'>

In [ ]:
 L = [11,22,33]
 L.reverse()
 print(L)

In [ ]:
 L = [11,22,33]
 L.reverse()
 print(L)

In [5]:
 T= (11,22,33)
 T.reverse() # can not do this bcz tuple is immtuabl
 print(T)

AttributeError: 'tuple' object has no attribute 'reverse'

In [2]:
 L = [33,55,11]
 L.sort()
 print(L)

[11, 33, 55]

In [3]:
T=(11,22,33)
T.sort()    # can do this bcz tuple is immuable
print(T)

AttributeError: 'tuple' object has no attribute 'sort'

In [7]:
T=(11,44,33,22)
a=sorted(T)
print(T)
print(a)

(11, 44, 33, 22)
[11, 22, 33, 44]

In [8]:
T=(11,44,33,22)
a=sorted(T)
print(T)
print(type(T))
print(id(T))
print(a)
print(type(a))
print(id(a))

(11, 44, 33, 22)
<class 'tuple'>
2827616919664
[11, 22, 33, 44]
<class 'list'>
2827610774656

In [10]:
 T =(11,22,33)
 print(T[1])    # Tuple is sequence type
 T[1] = 44      # Tuple is immutable
 print(T)

22

TypeError: 'tuple' object does not support item assignment

In [1]:
#Tuple Concatenation
t1=(11,22,33,44,55,66)
t2=(77,88,99,100)
T=t1+t2
print(t1)
print(t2)
print(T)

(11, 22, 33, 44, 55, 66)
(77, 88, 99, 100)
(11, 22, 33, 44, 55, 66, 77, 88, 99, 100)

In [5]:
#Tuple Repetation
t=(1,3,4,7)
print(t)
print(id(t))
t=t*2
print(t)
print(id(t))

(1, 3, 4, 7)
1709094682768
(1, 3, 4, 7, 1, 3, 4, 7)
1709091251392

In [7]:
#Element can access using Index
T=(11,22,33,44,55,66)
print(T)
print(T[2])
print(T[4])
print(T[0])

(11, 22, 33, 44, 55, 66)
33
55
11

In [20]:
#Slice Operator
T=(11,22,33,44,55,66,77)
print(T)
print(T[0:len(T):1])
print(T[0:2:1])
print(T[-1::-1])
print(T[3:len(T):1])
print(T[0::2])

(11, 22, 33, 44, 55, 66, 77)
(11, 22, 33, 44, 55, 66, 77)
(11, 22)
(77, 66, 55, 44, 33, 22, 11)
(44, 55, 66, 77)
(11, 33, 55, 77)

In [23]:
#TO Convert Element
L=[11,22,33,44,55]
print(L)
print(type(L))
print()

T=tuple(L)
print(T)
print(type(T))
print()

S=set(T)
print(S)
print(type(S))
print()

[11, 22, 33, 44, 55]
<class 'list'>

(11, 22, 33, 44, 55)
<class 'tuple'>

{33, 11, 44, 22, 55}
<class 'set'>

In [24]:
#Len() Function
T=(1,2,46,78,3,13,46)
print(T)
print(len(T))

(1, 2, 46, 78, 3, 13, 46)
7

In [25]:
#count() Function
T=(1,2,46,78,2,3,13,46,2)
print(T)
print(T.count(2))

(1, 2, 46, 78, 2, 3, 13, 46, 2)
3

In [26]:
#index() Function
T=(1,2,46,78,2,3,13,46,2)
print(T)
print(T.index(78))

(1, 2, 46, 78, 2, 3, 13, 46, 2)
3

In [29]:
#min()  & max() Function
T=(1,2,46,78,2,3,13,46,2)
print(T)
print(min(T))
print(max(T))

(1, 2, 46, 78, 2, 3, 13, 46, 2)
1
78

In [30]:
#Tuple packing
a=10
b=26
c=67

T=a,b,c
print(T)
print(type(T))

(10, 26, 67)
<class 'tuple'>

In [34]:
# Unpacking
T = (10,20,30)
a,b,c = T   #Unpacking
print(a)
print(type(a))
print(b)
print(type(b))
print(c)
print(type(c))

10
<class 'int'>
20
<class 'int'>
30
<class 'int'>

In [ ]:
#swaaping of two Number
 a = int(input("Enter the First  Number : "))
 b = int(input("Enter the Second Number :"))
 print(f'Before swap F:{a} and S:{b}')
 t =  a
 a =  b
 b =  t 
print(f'Aftre swap F:{a} and S:{b}')

In [40]:
# Accepting numberv from user and Swap them
num1=int(input("Enter the number :"))
num2=int(input("Enter the number :"))        

print(f"Before swapping {num1} and {num2}")
num1,num2=num2,num1   #Unpacking

print(f"After swapping {num1} and {num2}")

Enter the number : 4
Enter the number : 78

Before swapping 4 and 78
After swapping 78 and 4

In [41]:
#swaaping of two Number
a = int(input("Enter the First  Number : "))
b = int(input("Enter the Second Number :"))
print(id(a))
print(id(b))
print(f'Before swap F:{a} and S:{b}')  # 3 5
a,b = b,a
print(f'Aftre swap F:{a} and S:{b}')
print(id(a))
print(id(b))

Enter the First  Number :  4
Enter the Second Number : 5

140733329898008
140733329898040
Before swap F:4 and S:5
Aftre swap F:5 and S:4
140733329898040
140733329898008

In [42]:
L = [ data * data for data in range(5)]
print(L)
print(type(L))

[0, 1, 4, 9, 16]
<class 'list'>

In [43]:
 # Tuple Comprehension is not supported by Python.
T = (  data * data for data in range(5)  )  # 0 1 4 9 16
print(T)
for data in T:
  print(data)

<generator object <genexpr> at 0x0000018DEE0CCD40>
0
1
4
9
16

In [44]:
 # Tuple Comprehension is not supported by Python.
G = (  data * data for data in range(5)  )  # 0 1 4 9 16
print(G)
T = tuple(G)
print(T)
L =list(T)
print(L)

<generator object <genexpr> at 0x0000018DEE0CD970>
(0, 1, 4, 9, 16)
[0, 1, 4, 9, 16]

In [45]:
r = range(5)
print(r)
T = tuple(r)
print(T)

range(0, 5)
(0, 1, 2, 3, 4)

In [47]:
r = range(5)
print(r)
L= list(r)
print(L)

range(0, 5)
[0, 1, 2, 3, 4]

In [49]:
r = range(5)
print(r)
for data in r:
    print(data)

range(0, 5)
0
1
2
3
4

In [50]:
r = range(5)
print(r)
T = tuple(r)
print(T)
L = list(r)
print(L)

range(0, 5)
(0, 1, 2, 3, 4)
[0, 1, 2, 3, 4]

In [51]:
 # zip()
rno  = (101,102,103) 
name = ('AAA','BBB','CCC')
per  = (60,70,80)
z    = zip(rno,name,per)
L    = list(z)
print(L)

[(101, 'AAA', 60), (102, 'BBB', 70), (103, 'CCC', 80)]

In [54]:
#Tuple is immutable but element are not immutable

T=(11,22,[44,55])
print("Befor :",T)
print(id(T))

T[2][1]=88
print("After :",T)
print(id(T))

Befor : (11, 22, [44, 55])
1709095736576
After : (11, 22, [44, 88])
1709095736576

In [57]:
#Reletional opertator is used in Tuple
t1=(11,22,33,44,55,66)
t2=(77,88,99)
print(t1==t2)
print(t1>t2)
print(t1<t2)

False
False
True

In [60]:
#Membership operator used in Tuple

T=(11,22,33,44,55,66)

if 22 in T:
    print("yes")
else :
    print("NO")

yes

In [61]:
#Membership operator used in Tuple

T=(11,22,33,44,55,66)

if 22 not in T:
    print("yes")
else :
    print("NO")

NO

In [64]:
# Here in 'a' tuple packing is happening
# variable length parameter function means function is ready to accept any number o
def display(*a):   # a = 10,20 ... Here in 'a' tuple packing is happening  
    print(a)
    print(type(a))
 # main script
print("START")
display(10,20)
display(11,22,33,44)
display()   # 'display' callable object
print("END")

START
(10, 20)
<class 'tuple'>
(11, 22, 33, 44)
<class 'tuple'>
()
<class 'tuple'>
END