In [ ]:
# List Comprehension

In [ ]:
 # L = [ by writring some logic mainly uses 'for' loop, someties 'if' jar mala data

In [2]:
# What is Iterable
 # List, tuple, string etc
L = [10,20,30]
for data in L:
    print(data)
print()

T=(11,22,33)
for data in T:
    print(data)
print()

for data in "TCA":
    print(data)

10
20
30

11
22
33

T
C
A

In [ ]:
 # Given me a list which has 0 ,1 ,2 ,3, 4 ,5
 L = [0,1,2,3,4,5]
 print(L)

In [ ]:
 # Normal Approach to get L = [0,1,2,3,4,5]
 L = []
 for i in range(5):  # 0 1 2 3 4
    L.append(i)
 print(L)

In [8]:
 # List Comprehension Approach to get L = [0,1,2,3,4,5]
L=[data for data in range(6)]
print(L)

[0, 1, 2, 3, 4, 5]

In [10]:
# List Comprehension Approach to get L = [0,1,4,9,16,25]
L=[i*i for i in range(6)]
print(L)

[0, 1, 4, 9, 16, 25]

In [11]:
# To print "TCA" in list % ways [TCA,TCA,TCA,TCA,TCA]
L=["TCA" for data in range(6) ]
print(L)

['TCA', 'TCA', 'TCA', 'TCA', 'TCA', 'TCA']