In [ ]:
# Set Type
#It is store unsequential data type
# Used when you need to store unique values from values

In [1]:
S={11,22,33}
print(S)

{33, 11, 22}

In [14]:
# sir values list , tuple madhe astore karu shakto tar mag set ka vaprayacha
# karan set stores UNIQUE values
S = {"pune","mumbai","pune", "delhi", "banglore", "pune"}
print(S)

{'pune', 'delhi', 'mumbai', 'banglore'}

In [1]:
#Can we hash of set elements
S={"AAA","BBB","CCC"}
print(S)

for data in S:
    print(data,":",hash(data))

{'AAA', 'BBB', 'CCC'}
AAA : -4159617999508996030
BBB : -5814491369705940571
CCC : 1827383029933898838

In [2]:
S={11,22,33,44,"AAA",12.34,9.2,"ABX",None}
print(S)
print(id(S))
print(type(S))

{None, 33, 'AAA', 'ABX', 9.2, 11, 44, 12.34, 22}
2975897169344
<class 'set'>

In [3]:
s={11,22,33,44,55}
print(s)

for data in s:
    print(data)

{33, 22, 55, 11, 44}
33
22
55
11
44

In [2]:
L = [11,22, 33]
print(L)
print(L[1])

[11, 22, 33]
22

In [3]:
 S = {11,22,33}   # set does not follow insertion order.
 print(S)
 print(S[2])

{33, 11, 22}

TypeError: 'set' object is not subscriptable

In [5]:
#Set() Function
# We can convert element from list tuple to set 
L=[11,22,33,44]
t=(10,20,3040)
r=range(0,5)
s1=set(L)
print(s1)
s2=set(t)
print(s2)
s3=set(r)
print(s3)

{33, 11, 44, 22}
{3040, 10, 20}
{0, 1, 2, 3, 4}

In [7]:
#Empty set is created using set() function only. Empty curly Bracket {} will create Dictionary
set1={}
print(set1)
print(type(set1))
print()

set2=set()
print(set2)
print(type(set2))

{}
<class 'dict'>

set()
<class 'set'>

In [11]:
#Add element in set we will used add() Function i.e s.add(11)
s={11,22,33,44}
print(s)
s.add(55)
print(s)
s.add(66)
print(s)
s.add(77)
print(s)

{33, 11, 44, 22}
{33, 11, 44, 22, 55}
{33, 66, 11, 44, 22, 55}
{33, 66, 11, 44, 77, 22, 55}

In [12]:
# update()
# if we want add all element of list tuple range to set at a time  we have to use Function

s=set()
l=[11,22,33,44]
t=(10,20,30,40)
r=range(0,5)
s.update(l,t,r)
print(s)

{0, 33, 1, 2, 3, 4, 40, 10, 11, 44, 20, 22, 30}

In [4]:
 s = {15,3,22,13,8}   # set is unordered bcz of elements are stored based on hashing
 print(s)

{3, 22, 8, 13, 15}

In [ ]:
#Set can have only Immutable Object

In [13]:
# hashing he fakt immutable objects var kele jaate..
s = {11,22}
print(s)
s = {11,22, [10,20,30] }    # error - set can have only immutable object

{11, 22}

TypeError: unhashable type: 'list'

In [7]:
S={11,22,(10,20)}
print(S)

{11, 22, (10, 20)}

In [9]:
L = [11,22]
print(L)
print(L[1])
L[1] =99   # list is modifiable
print(L[1])

[11, 22]
22
99

In [14]:
#COPY()
#we are copy element from one set to another set
# It will always store  deep copy

set1={10,20,30,40}
print(s1)
print(id(s1))
print(type(s1))


s2=s1.copy()
print(s2)
print(id(s2))
print(type(s2))

{33, 11, 44, 22}
2975903372608
<class 'set'>
{33, 11, 44, 22}
2975903373280
<class 'set'>

In [ ]:
#To remove elements of set we used following particular function
#1.remove -->It can be used to remove particular element from set
#2.pop()---->It can be used to remove first  element from set
#3.discard()-->It can be used to remove particular element from set

In [16]:
#remove()
s={10,20,30,40,50}
print(s)
s.remove(20)
print(s)

{50, 20, 40, 10, 30}
{50, 40, 10, 30}

In [17]:
#remove()
s={10,20,30,40,50}
print(s)
s.remove(2)
print(s)

{50, 20, 40, 10, 30}

KeyError: 2

In [19]:
#pop()
s={10,20,30,40,50}
print(s)
s.pop()
print(s)

{50, 20, 40, 10, 30}
{20, 40, 10, 30}

In [18]:
#pop()
s={10,20,30,40,50}
print(s)
s.pop(20)
print(s)

{50, 20, 40, 10, 30}

TypeError: set.pop() takes no arguments (1 given)

In [20]:
#discard()
s={10,20,30,40,50}
print(s)
s.discard(20)
print(s)

{50, 20, 40, 10, 30}
{50, 40, 10, 30}

In [21]:
#discard()
s={10,20,30,40,50}
print(s)
s.discard(2)
print(s)

{50, 20, 40, 10, 30}
{50, 20, 40, 10, 30}

In [23]:
#Clear
# It is used to remove all element in set
s={10,20,30,40,50}
print(s)
s.clear()
print(s)

{50, 20, 40, 10, 30}
set()

In [ ]:
#SET Function

In [ ]:
#union()  i.e set1.union(set2)  or i.e set1 | set2
#It store all the element of set1 and set2

In [26]:
S={10,20,30}
T={50,30,40}
print(S.union(T))
print(S | T)

{50, 20, 40, 10, 30}
{50, 20, 40, 10, 30}

In [ ]:
#intersection()  i.e set1.intersection(set2)  or i.e set1 & set2
# Only common elements print

In [27]:
S={10,20,30}
T={50,30,40}
print(S.intersection(T))
print(S & T)

{30}
{30}

In [ ]:
#difference i.e element existedin set1 and not existed in set2

In [28]:
S={10,20,30}
T={50,30,40}
print(S.difference(T))
print(S - T)

{10, 20}
{10, 20}

In [ ]:
#symmmetric_difference(set2) 
#All elements from set1 and set2 expect the element which are common in set1 and set2

In [29]:
S={10,20,30}
T={50,30,40}
print(S.difference(T))
print(S - T)

{10, 20}
{10, 20}