In [1]:
# String Type

In [2]:
s='Aniket'
print(s)
print(type(s))

Aniket
<class 'str'>

In [3]:
s="Aniket"
print(s)
print(type(s))

Aniket
<class 'str'>

In [4]:
s='''Aniket'''
print(s)
print(type(s))

Aniket
<class 'str'>

In [5]:
# Single Quoted and Double qutoed string are single line string
#a= 'Aniket jumde'
#a= "Aniket jumde"
# but if you want to represent multiline string then you have  to use tripe quote

In [6]:
# but if you want to represent multiline string then you have  to use tripe quote
a= ''' 
    Hello everyone my name is aniket
    i am from buldhana
    i am pursuing b.tech in Information technology at  RSCOE
    '''
print(a)
print(type(a))

    Hello everyone my name is aniket
    i am from buldhana
    i am pursuing b.tech in Information technology at  RSCOE

<class 'str'>

In [7]:
a='A'
print(a)
print(type(a))

A
<class 'str'>

In [8]:
# What is a String?
# String is a sequence of character
# a="TCA"
# here T,C,A..

In [9]:
a='Techno "comp" academy'
print(a)
print(type(a))

Techno "comp" academy
<class 'str'>

In [10]:
a='Techno \'comp\' academy'
print(a)
print(type(a))

Techno 'comp' academy
<class 'str'>

In [11]:
a="Techno \'comp\' academy"
print(a)
print(type(a))

Techno 'comp' academy
<class 'str'>

In [12]:
a="Techno \"comp\" academy"
print(a)
print(type(a))

Techno "comp" academy
<class 'str'>

In [13]:
a='''Techno \'''comp\''' Academy '''
print(a)
print(type(a))

Techno '''comp''' Academy
<class 'str'>

In [14]:
a="TCA"
print(a)
print(len(a))
print(len("Aniket"))

TCA
3
6

In [15]:
#print the length of given string
str="Aniket Jumde"
print(len(str))

12

In [16]:
str="Techno comp academy"
print(str[13])
print(str[-3])
print(len(str))
print(str[18])

c
e
19
y

In [17]:
str="Techno comp academy"
print(str[20])

IndexError: string index out of range

In [27]:
str="Techno comp academy"
print(str[-21])

IndexError: string index out of range

In [28]:
 # len() function is used to findount length of string
str="Aniket"
print(len(str))
print(len("TCA"))

6
3

In [29]:
str='Aniket'
for i in range(0,len(str)):
    print(str[i])

A
n
i
k
e
t

In [30]:
str='Aniket'
for i in range(len(str)):
    print(str[i])

A
n
i
k
e
t

In [36]:
str='Aniket'
for i in range(1,len(str)+1):
    print(str[-i])

t
e
k
i
n
A

In [38]:
str='Aniket'
for i in range(-1,-(len(str)+1),-1):
    print(str[i])

t
e
k
i
n
A

In [42]:
str='Aniket'
for i in range(len(str)-1,-1,-1):
    print(str[i])

t
e
k
i
n
A

In [44]:
str='Aniket'
for i in str:
    print(i)

A
n
i
k
e
t

In [46]:
str='Aniket'
for i in str:
    print(i)

A
n
i
k
e
t

In [47]:
str="Aniket"
cnt=0
for i in str:
    cnt=cnt+1
print(cnt)

6